.App {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  border-bottom: 2px solid #000;
  background-color: blueviolet;
  color: white;
  display: flex;
  height: 6vh;
  font-size: 1.2rem;
}

.navLink {
  margin: 1rem;
  cursor: pointer;
  position: relative;
}

.navLink::before {
  position: absolute;
  top: -1px;
  left: 0;
  overflow: hidden;
  max-width: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: black;
  content: attr(data-hover);
  transition: max-width 0.5s;
}

.navLink:hover::before {
  max-width: 100%;
}

.container {
  padding-top: 8vh;
  height: 90vh;
  text-align: center;
  font-size: 3rem;
  border-bottom: 2px solid #000;
}

.toTop {
  position: fixed;
  right: 5vh;
  bottom: 5vh;
  background-color: aquamarine;
  padding: 2rem;
  cursor: pointer;
}
