.App {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  border-bottom: 2px solid #000;
  background-color: blueviolet;
  color: white;
  display: flex;
  height: 8vh;
  font-size: 1.2rem;
  font-weight: 700;
}

.navLink {
  margin: 1rem;
  cursor: pointer;
  position: relative;
}

.navLink::before {
  position: absolute;
  left: 0;
  overflow: hidden;
  max-width: 0;
  border-bottom: 2px solid black;
  color: black;
  content: attr(data-hover);
  transition: max-width 0.5s;
}

.navLink:hover::before {
  max-width: 100%;
}

.container {
  padding-top: 8vh;
  height: 90vh;
  text-align: center;
  font-size: 3rem;
  border-bottom: 2px solid #000;
}

.toTop {
  position: fixed;
  right: 5vh;
  bottom: 5vh;
  background-color: aquamarine;
  padding: 2rem;
  cursor: pointer;
  border-radius: 50%;
}

#content2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  overflow: scroll;
  position: relative;
  transition: all 1s;
}

.card {
  position: relative;
  font-size: 1rem;
  background: beige;
  margin: 0.5rem;
  border-radius: 5px;
  height: 40vh;
  min-width: 20%;
  box-shadow: 1px 1px 10px #55555599;
  transition: all 1s;
}

.card:hover {
  transform: scale(1.05);
}
