.App {
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0;
  border-bottom: 2px solid #000;
  background-color: #000;
  color: white;
  display: flex;
  height: 5vh;
}
nav * {
  margin: 1rem;
  cursor: pointer;
}

.container {
  padding-top: 8vh;
  height: 90vh;
  text-align: center;
  font-size: 3rem;
  border-bottom: 2px solid #000;
}

.toTop {
  position: fixed;
  right: 5vh;
  bottom: 5vh;
  background-color: aquamarine;
  padding: 2rem;
  cursor: pointer;
}
